<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="topnav">
    <h1 class="yellow text-center">
      Welcome to {{ title }}!
    </h1>
    <div class="topnav-right ">
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Home</a>
      <a (mouseenter)="productMenu = true; mousehover(true);" (mouseleave)="productMenu = false; mousehover(false);">Products</a>
      <!-- <div class="navbar">-->{{productMenu}}
      <div *ngIf="productMenu" class="dropdown-content">
        <div>
          <ul>
            <li href="#">Product 1</li>
            <li href="#">Product 2 </li>
          </ul>
          <!-- <div *ngFor="let product of products" class="column"> -->
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
      <a target="_blank" rel="noopener">Services</a>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">About Us</a>
    </div>
  </div>
</header>
<!-- <flex-slider></flex-slider> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <app-slider></app-slider> -->

<app-collections></app-collections>
